body,
h1, h2, h3, h4, h5, h6,
a {
  font-family: "ola_sans", "sans-serif";
  color: #000; }

body {
  background-color: #CCC url("../../../content/dot-bg.jpg"); }

a:hover {
  color: #999; }

p {
  line-height: 1.9;
  margin: 1em 0; }

#header {
  padding: 2em 2em;
  background-color: #fff;
  z-index: 50; }

#site-title {
  margin: 0;
  font-size: 2em;
  font-weight: normal; }

#main-menu {
  z-index: 50; }
  #main-menu * {
    background-color: white;
    z-index: 50; }
  #main-menu > ul {
    padding: 0;
    margin: 0;
    text-align: right; }
    #main-menu > ul > li {
      display: inline-block;
      margin: 0 0 0 2em;
      position: relative;
      text-align: left; }
      #main-menu > ul > li > ul {
        display: none;
        position: absolute;
        top: 19px;
        right: -5px;
        padding: 10px 5px 0;
        width: 170px; }
        #main-menu > ul > li > ul > li {
          display: none;
          padding: 0.5em 0 0 0;
          font-size: 0.85em;
          text-align: right; }
  #main-menu .nav li ul li ul {
    /*left: 150px;*/
    top: 0;
    padding: 0; }
  #main-menu .nav li:hover ul {
    display: block; }
  #main-menu .nav li ul li {
    display: block;
    /*background: rgba(0, 0, 0, 0.1);*/ }

#content {
  padding: 2em 2em;
  background-color: #FFF; }
  #content .row {
    margin-bottom: 2em; }
  #content a {
    border-bottom: dashed 2px #464646; }

#home-intro #banniere {
  width: 100%; }

#home-intro header {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1.8; }

#mail-chimp form .row, #mail-chimp form .columns {
  margin: 0;
  padding: 0; }

#footer {
  padding: 2em; }
  #footer p {
    font-size: 0.9em;
    color: #999; }
